.section-header{
    display: flex;
    height: 100px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    h2{
    text-transform: uppercase;
    color: #a8aab3;
    font-size: 33px;
    font-weight: 600;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 3px;
    }
  
}